:root {
    --turquoise: #568281;
    --font-color: #FFFFFF;
    --section-color: #D3E1E1;
    --beige: #d6c19d;
    --black: #000000;
    --orange: #fdb249;
    --hour_turquoise: #20D2C8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 320px;
}
header {
    position: sticky;
    top: 0px;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
    z-index: 1;
}
@keyframes adjust-header {
    to {
        background:  rgb(169, 215, 221, 0.5);
        backdrop-filter: blur(5px);
        font-size: 12px;
        height: 50px;
    }
}
header .menu-section {
    display: flex;
}

.menu ul {
    height: auto;
}

.menu ul li {
    margin-top: 0px;
}

.menu nav img {
    display: none;
}

.menu nav {
    position: static;
    right: none;
    height: auto;
    background: none;
    padding: 0px;

}

.menu-section {
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

.menu-section li {
    display: inline-block;
}

.menu-section li a {
    display: inline-block;
    font-size: 1.4rem;
    margin: 5px;
    text-decoration: none;
    color: var(--turquoise);
}

.menu #btn_menu {
    display: none;
}

.menu ul {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
}

@keyframes move-vector {
    0% {
        transform: translateY(15px);
    }

    50% {
        /*El primer fotograma (0%) establece que el elemento se desplazará hacia abajo (translateY(15px)) 15 píxeles desde su posición original.*/
        transform: translateY(0px);
    }

    100% {
        /*El segundo fotograma (50%) establece que el elemento volverá a su posición original (0 píxeles de desplazamiento). */
        transform: translateY(15px);
    }

    /*El tercer fotograma (100%) establece que el elemento se desplazará hacia abajo otros 15 píxeles*/
}

.row--left {
    flex-direction: row-reverse;
}

.row--right {
    flex-direction: row;
}

.image_svg {
    width: calc(45rem - 5px);
    height: calc(360px - 5px);
    margin-right: auto;
}

.image_svg img {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 10%;
}

.div--info-me {
    /*  padding: 10px; */
}

.text p {
    font-size: 2rem;
}

.text h1 {
    font-size: 4rem;
}

.text ul {
    font-size: 20px;
    margin-top: 5%;
}

/*  main */
main{
    min-height:90vh;
}
#container {
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    
}
#container > div:first-child {
    margin-right: 60px;
}



.container-caja {
    max-width: 100rem;
}

.caja{
    width: 300px;
}