:root {
    --primary-100:#FF7F50;
    --primary-200:#dd6236;
    --primary-300:#8f1e00;
    --accent-100:#8B4513;
    --accent-200:#ffd299;
    --text-100:#000000;
    --text-200:#2c2c2c;
    --bg-100:#F7EEDD;
    --bg-200:#ede4d3;
    --bg-300:#c4bcab;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 320px;
}
header {
    position: sticky;
    top: 0px;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
    z-index: 1;
}
@keyframes adjust-header {
    to {
        background:  rgb(169, 215, 221, 0.5);
        backdrop-filter: blur(5px);
        font-size: 12px;
        height: 50px;
    }
}
header .menu-section {
    display: flex;
}

.menu ul {
    height: auto;
}

.menu ul li {
    margin-top: 0px;
}

.menu nav img {
    display: none;
}

.menu nav {
    position: static;
    right: none;
    height: auto;
    background: none;
    padding: 0px;

}

.menu-section {
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

.menu-section li {
    display: inline-block;
}

.menu-section li a {
    display: inline-block;
    font-size: 1.4rem;
    margin: 5px;
    text-decoration: none;
    color: var(--turquoise);
}

.menu #btn_menu {
    display: none;
}

.menu ul {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
}

@keyframes move-vector {
    0% {
        transform: translateY(15px);
    }

    50% {
        /*El primer fotograma (0%) establece que el elemento se desplazará hacia abajo (translateY(15px)) 15 píxeles desde su posición original.*/
        transform: translateY(0px);
    }

    100% {
        /*El segundo fotograma (50%) establece que el elemento volverá a su posición original (0 píxeles de desplazamiento). */
        transform: translateY(15px);
    }

    /*El tercer fotograma (100%) establece que el elemento se desplazará hacia abajo otros 15 píxeles*/
}

.row--left {
    flex-direction: row-reverse;
}

.row--right {
    flex-direction: row;
}

.image_svg {
    width: calc(45rem - 5px);
    height: calc(360px - 5px);
    margin-right: auto;
}

.image_svg img {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 10%;
}

.div--info-me {
    /*  padding: 10px; */
}

.text p {
    font-size: 2rem;
}

.text h1 {
    font-size: 4rem;
}

.text ul {
    font-size: 20px;
    margin-top: 5%;
}

/* CSS de las cosas jejejej */

main {
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
#titulo {
    font-size: 3rem; /* Tamaño del texto */
    text-align: center; /* Alineación centrada */
    color: var(--text-100); /* Color del texto */
    margin-bottom: 20px; /* Espacio inferior */
}


#candidato {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#candidato h3 {
    font-size: 2rem; /* Tamaño de fuente del h3 */
    text-align: center; /* Centrar el texto horizontalmente */
    margin-bottom: 5px; /* Espacio inferior entre el h3 y la imagen */
}


.candidato div {
    text-align: center; /* Centra el contenido horizontalmente */
    position: relative; /* Establece la posición relativa para el contenedor */
}


.candidato1,
.candidato2,
.candidato3,
.candidatoblanco {
    flex-basis: 25%;
    text-align: center;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.candidato1 img,
.candidato2 img,
.candidato3 img,
.candidatoblanco img  {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
}


.input--voto {
    background-color: var(--accent-100);
    color: var(--bg-100);
    border: none;
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.input--voto:hover
{
    background-color: var(--accent-200);
    color: var(--text-100);
}

@media screen and (max-width: 1024px) {
    /* Encabezado */
    header .menu-section {
        justify-content: center; /* Centrar los elementos del menú */
    }

    .menu #btn_menu {
        display: block; /* Mostrar el botón del menú */
    }

    .menu-section {
        width: auto; /* Ajustar el ancho del menú */
    }

    .menu-section li {
        margin-right: 15px; /* Espacio entre elementos del menú */
    }

    /* Candidatos */
    #candidato {
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan en filas */
    }

    .candidato1,
    .candidato2,
    .candidato3,
    .candidatoblanco {
        flex-basis: 45%; /* Ancho de los candidatos */
        margin-bottom: 20px; /* Espacio inferior entre los candidatos */
    }
}

