:root {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 240px;
}

/*Header*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    /* dimension más chica de los celulareas */
    height: 50px;
    text-align: center;
    border-bottom: 2px inset;
}

header .section_header {
    width: 100%;
    height: 49px;
    position: relative;
    display: flex;
}

header .figure_header {
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    margin-top: 1px;
}

.menu-section {
    display: none;

}

.menu {
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

.menu ul {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.menu ul li {
    list-style: none;
    margin-left: 36px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    margin: 5px;
    color: var(--aqua);
    transition: color 0.4s ease;
    transition: 0.4s;
}

.menu ul li a:hover {
    color: var(--sandy);
    margin-left: 3rem;
}

#selected {
    background: transparent;
    border: 2px solid var(--aqua);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 50px;
    transition: 0.4s;
}

#selected:hover {
    color: var(--sandy)
}

.logo img {
    width: 180px;

}

.menu nav {
    display: block;
    position: fixed;
    top: 0;
    right: -250px;
    background: white;
    height: 100vh;
    padding: 40px;
    z-index: 1;
    transition: all 300ms;
}

.menu ul {
    flex-direction: column;
    color: #d3e1e1;
    text-align: center;
    height: 10px;
    width: auto;
    text-align: center;
}

.menu ul li {
    margin-top: 30px;
    margin-left: 0;
}

.menu ul li a {
    color: var(--fountain);
}



.menu nav img {
    margin: 10px;
    display: block;
    text-align: center;
    width: 120px;
    height: auto;
    background-color: transparent;
    background-position: 0cqb;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px var(--turquoise); */
    display: inline-block;
    margin-left: 10px;
}

#back_menu {
    /* el tamaño del menu que se mostrara */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

.menu #btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: rgba(226, 219, 219, 0.1);
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
}

#btn_menu:checked~main {
    background-color: #333;
}

.menu #btn_menu:hover {
    background: rgba(12, 12, 12, 0.1);
}

header .menu-header {
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}