:root {
    --primary-100:#FF7F50;
    --primary-200:#dd6236;
    --primary-300:#8f1e00;
    --accent-100:#8B4513;
    --accent-200:#ffd299;
    --text-100:#000000;
    --text-200:#2c2c2c;
    --bg-100:#F7EEDD;
    --bg-200:#ede4d3;
    --bg-300:#c4bcab;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 240px;
}

/*Header*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    /* dimension más chica de los celulareas */
    height: 50px;
    text-align: center;
    border-bottom: 2px inset;
    border-color: var(--accent-200);
    background-color: var(--bg-100);
}

header .section_header {
    width: 100%;
    height: 49px;
    position: relative;
    display: flex;
}

header .figure_header {
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    margin-top: 1px;
}

.menu-section {
    display: none;

}

.menu {
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

.menu ul {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.menu ul li {
    list-style: none;
    margin-left: 36px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    margin: 5px;
    color: var(--aqua);
    transition: color 0.4s ease;
    transition: 0.4s;
}

.menu ul li a:hover {
    color: var(--primary-300);
    margin-left: 3rem;
}

#selected {
    background: transparent;
    border: 2px solid var(--primary-300);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 50px;
    transition: 0.4s;
}

#selected:hover {
    color: var(--sandy)
}

.logo img {
    width: 180px;

}

.menu nav {
    display: block;
    position: fixed;
    top: 0;
    right: -250px;
    background: var(--accent-200);
    height: 60vh;
    padding: 40px;
    z-index: 2;
    transition: all 300ms;
}

.menu ul {
    flex-direction: column;
    color: #d3e1e1;
    text-align: center;
    height: 10px;
    width: auto;
    text-align: center;
}

.menu ul li {
    margin-top: 30px;
    margin-left: 0;
}

.menu ul li a {
    color: var(--text-100);
}



.menu nav img {
    margin: 10px;
    display: block;
    text-align: center;
    width: 120px;
    height: auto;
    background-color: transparent;
    background-position: 0cqb;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px var(--turquoise); */
    display: inline-block;
    margin-left: 10px;
}

#back_menu {
    /* el tamaño del menu que se mostrara */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

.menu #btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: rgba(226, 219, 219, 0.1);
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms;
}

#btn_menu:checked~main {
    background-color: #333;
}

.menu #btn_menu:hover {
    background: rgba(12, 12, 12, 0.1);
}

header .menu-header {
    justify-content: end;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 16px;
    margin-block: 3px;
}

/* main */
main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 70vh;
}
.input--inicio {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.container-join{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 42vh;
    width: 100%;
}

.join--border{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px;
    border: solid var(--primary-100);
    border-radius: 50px;
}

.title-colored {
    font-size: 3.5rem;
    font-weight: 300px;
    margin-bottom: 20px;
    /* Centra el texto */
    text-align: center;
    /* Ajusta las palabras largas */
    word-wrap: break-word;
    /* Propiedad de gradiante para establecer la combinación de colores para el titulo */
    background: linear-gradient(90deg, var(--accent-100), var(--primary-100), var(--accent-200));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: changeColor 5s linear infinite;
    /* Añade un subrayado al texto */
    position: relative;
    overflow: hidden;
}

.input--button{
    margin-top: 30px;
    padding: 10px;
    border: none;
    background: #FF7F50;
    font-size: 16px;
    outline: none;
    color: white;
    cursor: pointer;
}

.form--inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-caja {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    display: grid;
    margin-top: 4rem;
    max-width: 320px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.container-caja a {
    text-decoration: none;
    color: black;
    display: block;
}
.caja {
    height: 216px;
    padding: 20px;
    margin: 20px;
    background: rgb(244, 242, 242);
    /* box-shadow: 1.5px 1.5px 1.5px 1.5px black; */
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
    position: relative;
    transition: 300ms;
}
.caja:hover {
    transform: translate(5px, -5px);
    box-shadow: -10px 10px 20px -10px rgb(0, 0, 0, 0.5);
} 

.caja .icon,
.caja h4,
.caja p {
position: relative; /* para que funcione la animación y se ponga por encima*/
z-index: 1; /* para que se ponga encima de todo */
transition: all 300ms;
}
.caja .icon {
    font-size: 40px;
    color: rgb(160, 121, 95);
    transform: translatey(30px);
  }
  
  .caja:hover .icon {
    color: #ffffff;
    font-size: 30px;
    transform: translateY(0);
  }


.caja h4,
.caja p {
  margin-top: 10 px;
}
.caja h4 {
    font-size: 30px;
    transform: translatey(30px);
}

.caja:hover h4 {
    transform: translateY(0);
    color: white;
}

.caja p {
    font-size: 14px;
    transform: translatey(100px); /* moverlo 100px en el eje y */
    opacity: 0;
}

.caja:hover p {
    transform: translateY(0);
    opacity: 1;
    color: white;
}

.caja .animacion {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: -170px;
    border-radius: 100%;
    transition: all 300ms;
    background: linear-gradient(to bottom, #995c06, #fdb249);
}
.caja:hover .animacion {
    /* para que cuando se pasa el mouse realice la animación */
    width: 40rem;
    height: 40rem;
    top: -150px;
    left: -70px;
}

/* para el footer */
.pie-pagina {
    position: relative;
    width: 100%;
    background-color: var(--accent-200);
    text-align: center;
    min-width: 320px;
}

.pie-pagina .footer_copy {
    background-color: var(--fountain);
    padding: 15px 10px;
    text-align: center;
    color: var(--black);
}

.pie-pagina .footer_copy small {
    font-size: 15px;
}
